*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div{
    margin: 10px;
} */
body{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.387),rgba(255, 166, 0, 0.338),rgba(255, 255, 0, 0.338),rgba(0, 128, 0, 0.297),rgba(0, 0, 255, 0.42),rgba(76, 0, 130, 0.42),rgba(238, 130, 238, 0.437))

}
/* #container{
    display: flex;
    flex-direction: column;
    align-items: center;
} */